{% extends 'base.html.twig' %}

{% block title %}Hello PostsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Articles</h1>

    {% if posts %}
        <h2>All Articles</h2>
        <ul>
            {% for post in posts %}

                    <li>
                        <a href="{{ path('single', { 'id': post.id } )}}">
                            <h3>{{ post.title }}</h3>
                            <span>{{ post.author }}</span>
                            <p>{{ post.content }}</p>
                        </a>
                    </li>

            {% endfor %}
        </ul>
    {% else %}
        <h2>Pas d'arcticles à afficher</h2>
    {% endif %}
</div>
{% endblock %}
