{% extends 'base.html.twig' %}

{% block head %}{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Articles</h1>

    {% if posts %}
        <h2>All Articles</h2>
        <ul>
            {% for post in posts %}

                    <li>
                        <a href="{{ path('single', { 'id': post.id } )}}">
                            <h3>{{ post.title }}</h3>
                            <span>{{ post.author }}</span>
                            <p>{{ post.content }}</p>
                        </a>
                    </li>

            {% endfor %}
        </ul>
    {% else %}
        <h2>Pas d'arcticles à afficher</h2>
    {% endif %}
</div>
{% endblock %}
