{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/digital/Documents/php/Symfony/symfony_blog/src/Controller/PostController.php'|file_link(0) }}">src/Controller/PostController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/digital/Documents/php/Symfony/symfony_blog/templates/post/index.html.twig'|file_link(0) }}">templates/post/index.html.twig</a></code></li>
    </ul>

    {% for () %}
</div>
{% endblock %}
